.column {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex: 1;
  min-height: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: var(--space-8);
  border-top: 4px solid var(--header-color);
}

.title {
  font: var(--text-body-medium);
  font-weight: bold;
  margin: 0;
  color: var(--header-color);
}

.count {
  font: var(--text-caption-regular);
  color: var(--header-color);
  background-color: var(--color-surface);
  border: 1px solid var(--header-color);
  padding: 0 8px;
  border-radius: 12px;
  margin: 2px 0;
}

.todo {
  --header-color: var(--color-gray-800);
}

.inProgress {
  --header-color: var(--color-gray-500);
}

.done {
  --header-color: var(--color-gray-400);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  flex: 1;
  overflow-y: auto;
  padding: var(--space-16);
}
